{{template "base" .}}
{{define "content"}}

<div>
<section>
  <h3>Francis Mejia</h3>
  <p>Hi, my name is </p>

</section>
<section>
  <h3>Roberto Dominguez</h3>
  <p>Hi, my name is </p>
</section>
<section>
  <h3>Raymond Arzu</h3>
  <p>Hi, my name is </p>
</section>

</div>

{{ end }}

